# Dependencias
node_modules/

# Build
dist/
build/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Variables de entorno
.env
.env.*
!.env.example

# Archivos del sistema
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Cobertura
coverage/
.nyc_output/

# Cachés
.cache/
.parcel-cache/
.vite/
.eslintcache

# Temporales
tmp/
temp/
*.tmp

# Archivos de despliegue locales opcionales
*.local

# Salidas de Docker que no quieras versionar
docker-compose.override.yml

# Certificados o claves
*.pem
*.key
*.crt

# Archivos de respaldo
*.bak
*.old
*.orig